.about-container {
  padding-top: 35px;
  padding-bottom: 75px;
  background: #f1f1f1;
  min-height: 600px;
}

/* .first-row {
  padding-bottom: 50px;
} */

.image-col {
  padding: 30px;
  min-height: 400px;
  max-height: 400px;
  text-align: right;
}

.text-col {
  padding-top: 32px;
}
.text-col span {
  font-size: 30px;
}

.text-col p {
  font-weight: bolder;
}

.text-col-content {
  text-align: justify;
  font-size: 20px;
}

.my-card {
  object-fit: contain;
  height: 90%;
  width: 90%;
  position: relative;
  vertical-align: middle;
  border-style: none;
  padding-top: 30px;
}

@media screen and (max-width: 1024px) {
  .about-container {
    padding-top: 575px;
  }
}
@media screen and (max-width: 480px) {
  .about-container {
    padding-top: 0px;
  }
  .first-row {
    padding-top: 55px;
    padding-bottom: 0px;
  }
  .image-col {
    min-height: auto;
    padding-bottom: 50px;
    padding-left: 0px;
  }

  .text-col {
    min-height: auto;
  }
  .text-col-content {
    font-size: 15px;
  }
}

@media screen and (max-width: 320px) {
  .about-container {
    padding-top: 0px;
  }
  .first-row {
    padding-top: 55px;
    padding-bottom: 0px;
  }
  .image-col {
    min-height: auto;
    padding-bottom: 50px;
  }
  .text-col-content {
    font-size: 15px;
  }
  .text-col {
    min-height: auto;
  }
}

.image-col:hover {
  transform: scale(1.02);
}

.image-col .glow-wrap {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  margin-top: -10px;
}

.image-col .glow {
  display: block;
  position: absolute;
  width: 40%;
  height: 200%;
  background: rgba(255, 255, 255, 0.2);
  top: 0;
  filter: blur(5px);
  transform: rotate(45deg) translate(-450%, 0);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.image-col:hover .glow {
  transform: rotate(45deg) translate(450%, 0);
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.image-col:hover img,
.image-col:hover .glow-wrap {
  margin-top: 0;
}
