.footer-margin {
  background: #011526;
}

.footer-container {
  min-height: 150px;
  color: white;
}

#footer-text {
  width: 100%;
  text-align: center;
  color: white;
}
/* Let's style the wrapper in such away that, 
it should always be at the center of the browser */
.wrapper {
  width: 465px;
  padding: 0%;
  padding-top: 50px;
}

/* Style the Un-order list by setting its list-style to none */
.wrapper ul {
  list-style: none;
}

/* Style the list items inside the UL list, by setting its width, height and line-height 
  and float them to left and set its border and border-radius.
 */
.wrapper ul li {
  width: 75px;
  height: 75px;
  line-height: 75px;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid #d8e2dc;
  float: left;
  transition: all 0.5s ease;
}

/* Style the icons by setting its color and margin-top value to 20px 
to align it properly */
.wrapper ul li .fa {
  color: #d8e2dc;
  margin-top: 20px;
  transition: all 0.5s ease;
}

/* Now target the specific li classes for styling and use box-shadow effect to border and text-shadow effect
  to icons for glowing effect and use transition property for smooth transition effect. */
/*facebook*/
.wrapper ul li:hover.facebook {
  border: 5px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-facebook {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

/*linkedin*/
.wrapper ul li:hover.linkedin {
  border: 5px solid #0487d9;
  box-shadow: 0 0 15px #0487d9;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-linkedin {
  color: #0487d9;
  text-shadow: 0 0 15px #0487d9;
  transition: all 0.5s ease;
}

/*github*/
.wrapper ul li:hover.github {
  border: 5px solid #bc0fbf;
  box-shadow: 0 0 15px #bc0fbf;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-github {
  color: #bc0fbf;
  text-shadow: 0 0 15px #bc0fbf;
  transition: all 0.5s ease;
}

/*email*/
.wrapper ul li:hover.email {
  border: 5px solid #ecec88;
  box-shadow: 0 0 15px #ecec88;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-envelope {
  color: #ecec88;
  text-shadow: 0 0 15px #ecec88;
  transition: all 0.5s ease;
}

/*twitter*/
.wrapper ul li:hover.twitter {
  border: 5px solid #00aced;
  box-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-twitter {
  color: #00aced;
  text-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

/* instagram */
.wrapper ul li:hover.instagram {
  border: 5px solid #bc2a8d;
  box-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-instagram {
  color: #bc2a8d;
  text-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

/* google */
.wrapper ul li:hover.google {
  border: 5px solid #dd4b39;
  box-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-google {
  color: #dd4b39;
  text-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}

/* pinterest */
.wrapper ul li:hover.pinterest {
  border: 5px solid #f23847;
  box-shadow: 0 0 15px #f23847;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-pinterest {
  color: #f23847;
  text-shadow: 0 0 15px #f23847;
  transition: all 0.5s ease;
}

/* whatsapp */
.wrapper ul li:hover.whatsapp {
  border: 5px solid #4dc247;
  box-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-whatsapp {
  color: #4dc247;
  text-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}

/*medium*/
.wrapper ul li:hover.medium {
  border: 5px solid #49bf94;
  box-shadow: 0 0 15px #49bf94;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-medium {
  color: #49bf94;
  text-shadow: 0 0 15px #49bf94;
  transition: all 0.5s ease;
}

/*youtube*/
.wrapper ul li:hover.youtube {
  border: 5px solid red;
  box-shadow: 0 0 15px red;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-youtube {
  color: red;
  text-shadow: 0 0 15px red;
  transition: all 0.5s ease;
}

/* media queries */

@media screen and (max-width: 640px) {
  .wrapper {
    width: 80%;
    padding-bottom: 20px;
  }
  .wrapper ul li {
    margin-top: 10px;
  }
  .wrapper ul li {
    margin-left: 20px;
  }
  #footer-text {
    width: 80%;
  }
}

@media screen and (max-width: 340px) {
  .wrapper {
    width: 80%;
    padding-bottom: 20px;
  }
  #footer-text {
    width: 80%;
  }
  .wrapper ul li {
    margin: 15px;
  }
  .wrapper ul li {
    margin-left: 15px;
  }
}
