.canvasdiv {
  min-height: 940px;
  position: relative;
  z-index: 1;
}

.canvas {
  z-index: 2;
  position: absolute;
  background: black;
}

.canvas-text {
  z-index: 3;
  background-size: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  min-height: 100%;
}

.canvas-text span {
  color: red;
  font-size: 50px;
}
