.canvasdiv {
  min-height: 940px;
  position: relative;
  z-index: 1;
}

.canvas {
  z-index: 2;
  position: absolute;
  background: #011526;
}

.canvas-text {
  z-index: 3;
  background-size: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  min-height: 100%;
}

.canvas-text span {
  color: whitesmoke;
  font-size: 50px;
}

#name {
  color: #056cf2;
}

#name a span {
  color: #056cf2;
  overflow: hidden;
}

#name a:hover span {
  display: none;
}

#name a:hover:after {
  content: "Take a Look 👀 🔍";
  color: #056cf2;
}

@media only screen and (max-width: 1024px) {
  .canvas {
    height: 1366px;
    width: 1024px;
  }
  .canvas-text span {
    font-size: 70px;
  }
}

@media screen and (max-width: 480px) {
  .canvas {
    height: 1000px;
    width: 480px;
  }
  .canvas-text span {
    font-size: 30px;
  }
}

@media screen and (max-width: 450px) {
  .canvas {
    height: 900px;
    width: 480px;
  }
  .canvas-text span {
    font-size: 30px;
  }
}

@media screen and (max-width: 375px) {
  .canvas {
    height: 850px;
    width: 375px;
  }
  .canvas-text span {
    font-size: 30px;
  }
}
