.sidenav {
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 4em;
  left: 4em;
  background: transparent;
  overflow-x: hidden;
  transition: top 0.2s ease-in-out;
}

.sidenav p {
  font-size: 30px;
  color: #5faad9;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  background: transparent;
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
}

.sidenav a:hover {
  position: relative;
  opacity: 1;
  transform: scale(1.1);
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
    color: black;
    font-weight: bold;
    background: white;
    opacity: 0.9;
  }
  .sidenav p {
    font-size: 18px;
  }
}

@media only screen and (max-width: 600px) {
  .sidenav {
    padding-top: 15px;
    left: 2em;
  }
  .sidenav a {
    font-size: 18px;
    color: black;
    font-weight: bold;
    background: white;
    opacity: 0.9;
  }
  .sidenav p {
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  .sidenav {
    padding-top: 15px;
    left: 1em;
    top: 2em;
  }
  .sidenav a {
    font-size: 15px;
    color: black;
    font-weight: bold;
    background: whitesmoke;
    opacity: 0.9;
  }
  .sidenav p {
    font-size: 15px;
  }
}

@media screen and (max-width: 320px) {
  .sidenav {
    padding-top: 50px;
    left: 0.5em;
  }
  .sidenav a {
    font-size: 13px;
  }
  .sidenav p {
    font-size: 13px;
    padding-right: 3px;
  }
}
