.sidenav {
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 4em;
  left: 4em;
  background: transparent;
  overflow-x: hidden;
}

.sidenav m {
  font-size: 30px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  background: transparent;
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
}

.sidenav a:hover {
  position: relative;
  opacity: 1;
  transform: scale(1.1);
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
  .sidenav m {
    font-size: 18px;
  }
}
